In [1]:
import pandas as pd

In [4]:
pd.read_excel(r'C:\Users\ROG\OneDrive\Desktop\DataSet1.xlsx')

    Name        Batch  Roll No      Address
0  Allen   python-023         1       Noida
1    Bob        java        123      Delhi
2  Suzan   python-023        45  Bangalore